<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.da.mapper.RoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.da.pojo.RoleMenu" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="seq_id" property="seqId" jdbcType="CHAR" />
    <result column="role_id" property="roleId" jdbcType="CHAR" />
    <result column="menu_id" property="menuId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seq_id, role_id, menu_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role_menu
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role_menu
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.da.pojo.RoleMenu" >
    insert into role_menu (id, seq_id, role_id, menu_id
      )
    values (#{id,jdbcType=CHAR}, #{seqId,jdbcType=CHAR}, #{roleId,jdbcType=CHAR}, #{menuId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.da.pojo.RoleMenu" >
    insert into role_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seqId != null" >
        seq_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="seqId != null" >
        #{seqId,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.da.pojo.RoleMenu" >
    update role_menu
    <set >
      <if test="seqId != null" >
        seq_id = #{seqId,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=CHAR},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.da.pojo.RoleMenu" >
    update role_menu
    set seq_id = #{seqId,jdbcType=CHAR},
      role_id = #{roleId,jdbcType=CHAR},
      menu_id = #{menuId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>