@charset "UTF-8";
/* 科研项目 */
.project-container .level-module {
}
.project-container .level-module>header {
  padding-bottom: 16px;
  color: #015db2;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}
.project-container .level-module .project-list {
  margin-bottom: 30px;
}
.project-container .level-module .project-list>.project-panel{
  float: left;
  width: calc(50% - 20px);
  margin-top: 30px;
  padding-bottom: 26px;
  border-bottom: 1px dotted #ddd;
}
.project-container .level-module .project-list>.project-panel:nth-child(2n) {
  margin-left: 20px;
}
.project-container .level-module .project-list>.project-panel:nth-child(2n+1) {
  margin-right: 20px;
}
.level-module .project-list>.project-panel>.p-title {
  margin-bottom: 16px;
  color: #222222;
  font-size: 16px;
}
.level-module .project-list>.project-panel>p.intro {
  margin-bottom: 12px;
  font-size: 14px;
  color: #666;
}

.level-module .project-list>.project-panel>.time{
  color: #666;
  font-size: 14px;
}
.co-enterprise {
  width: 80%;
  margin: 80px auto;
}
.co-enterprise>header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  color: #222;
}
.co-enterprise table.enterprise{
  border: 0;

}
.co-enterprise .enterprise>tbody>tr{
}
.co-enterprise .enterprise>tbody>tr>td {
  width: 150px;
  height: 86px;
  padding: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.co-enterprise .enterprise>tbody>tr>td:nth-child(8n){
  border-right: 0;
}
.co-enterprise .enterprise>tbody>tr:last-child>td {
  border-bottom: 0;
}
.co-enterprise .enterprise>tbody>tr>td>img {
  max-width: 150px;
  max-height: 86px;
}