<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.da.mapper.InformationMapper" >
  <resultMap id="BaseResultMap" type="com.da.pojo.Information" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="seq_id" property="seqId" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="imgurls" property="imgurls" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seq_id, title, content, type, create_at, imgurls
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from information
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from information
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.da.pojo.Information" >
    insert into information (id, seq_id, title, content, 
      type, create_at, imgurls
      )
    values (#{id,jdbcType=CHAR}, #{seqId,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{imgurls,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.da.pojo.Information" >
    insert into information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seqId != null" >
        seq_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="imgurls != null" >
        imgurls,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="seqId != null" >
        #{seqId,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="imgurls != null" >
        #{imgurls,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.da.pojo.Information" >
    update information
    <set >
      <if test="seqId != null" >
        seq_id = #{seqId,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="imgurls != null" >
        imgurls = #{imgurls,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.da.pojo.Information" >
    update information
    set seq_id = #{seqId,jdbcType=CHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      imgurls = #{imgurls,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>