@charset "UTF-8";
.swiper-section {
  width: 100%;
}
.swiper-section .swiper-container .swiper-img {
  width: 100%;
}
.swiper-section .swiper-container .swiper-pagination-bullet {
  width: 48px;
  height: 4px;
  background: #fff;
  opacity: 1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.swiper-section .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0D4DAC;
}
.main-wrap {

}
.main-wrap>.m-center {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.main-wrap>.m-center>main {
  margin-top: 80px;
}
.main-wrap>.m-center>main>header {
  margin-bottom: 30px;
  font-size: 22px;
}
.main-wrap main>header>h4 {
  float: left;
  margin: 0;
  color: #015db2;
}
.main-wrap main>header>.sub {
  margin-left: 5px;
  font-family: Helvetica;
  color: #666;
}
.main-wrap main>.main-content {

}
.main-wrap main>.main-content .c-img {
  float: left;
  width: 320px;
  height: 220px;
}
.main-wrap main>.main-content .c-img>img{
  width: 100%;
  height: 100%;
}
.main-wrap main>.main-content aside {
  margin-left: 350px;
  font-size: 14px;
}
.introduction>.main-content aside>p {
  line-height: 1.5;

  color: #666;
}
.introduction>.main-content aside>p>strong{
  color: #222;
}
.main-wrap main>.main-content aside>ul{
  margin: 5px 0;
}
.main-wrap main>.main-content aside>ul>li {
  line-height: 1.5;
}
#J_info_swiper {
  height: 100%;
}
#J_info_swiper .swiper-button-prev {
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url("/images/swiper-left.png");
  background-size: 40px 40px;
}
#J_info_swiper .swiper-button-next {
  right: 0;
  width: 40px;
  height: 40px;
  background-image: url("/images/swiper-right.png");
  background-size: 40px 40px;
}
#J_info_swiper .swiper-button-prev:focus,
#J_info_swiper .swiper-button-next:focus {
  outline: 0;
}
#J_info_swiper .swiper-slide .swiper-img {
  width: 100%;
  height: 100%;
}
#J_info_swiper .swiper-slide .swiper-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 7px 10px;
  background: rgba(0,0,0,0.3);
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.information .info-list {
  list-style: none;
}
.information .info-list>li {
  margin-bottom: 15px;
}
.information .info-list>li:last-child {
  margin-bottom: 0;
}

.information .info-list>li>span {
  line-height: 22px;
}
.info-list>li>span.label {
  margin-right: 10px;
  padding: 1px 3px;
  color: #fff;
  font-size: 14px;
}
.label.color1 {
  background: #015db2;
}
.label.color2 {
  background: #5AB1D0;
}

.information .more {
  float: right;
  padding: 5px 0;
  font-size: 14px;
  color: #222;
}
.information .more:after {
  display: inline-block;
  content: '';
  background: url("/images/more.png");
  -webkit-background-size: contain;
  background-size: contain;
  width: 15px;
  height: 15px;
  float: right;
  margin-left: -3px;
}
.info-list>li>span.title {
  color: #222;
}
.information .info-list>li.active>span.title {
  color: #015db2;
}
.info-list>li>span.time {
  float: right;
}
.information .info-list>li.active>span.time {
  color: #015db2;
}

/* 团队成员 */
.member-container {
  margin-top: 80px;
}
.member-container>.panel-center {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.member-container>.panel-center .member-panel {
  float: left;
  width: calc((100% / 3) - 70px);
  margin: 0 35px 70px;
  padding-bottom: 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;
}
.member-container .member-panel .avatar {
  float: left;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.member-panel .avatar>img {
  width: 100%;
  height: 100%;
}
.member-container .member-panel .member-info {
  margin-left: 130px;
  padding-left: 28px;
}
.member-panel .member-info>.name {
  margin-bottom: 20px;
  font-size: 20px;
  color: #015db2;
}
.member-panel .member-info>.research-area{
  color: #222;
}
.member-panel .member-info>.research-area>span{
  display: inline-block;
  margin-bottom: 10px;
}
.member-panel .member-info>.research-area>span:last-child{
  margin-bottom: 0;
}
.member-panel .member-info>.academy {
  margin-top: 20px;
  color: #222;
}


/** 课程教学 */
.course-container {

}
.course-container .container-center {
  width: 80%;
  margin: 80px auto 0;
}
.course-panel {
  padding: 0 10px;
  margin-bottom: 50px;
}
.course-panel>header {
  padding-bottom: 14px;
  border-bottom: 1px dashed rgba(0,0,0,0.3);
  line-height: 1.2;
  color: #015db2;
  font-size: 16px;
}
.course-panel>.panel-body {
  padding-top: 20px;
}
.course-panel>.panel-body>p{
  margin: 0;
  line-height: 1.5;
  color: #444;
  font-size: 14px;
}

/* 研究方向 */
.research-container .container-center{
  width: 80%;
  margin: 80px auto 0;
}
.research-container .introduction {
  padding: 0 10px;
  margin-bottom: 52px;
}
.research-container .introduction>p {
  color: #222222;
  font-size: 16px;
  line-height: 1.5;
}
.research-panel {
  padding: 0 10px;
  margin-bottom: 20px;
}
.research-panel>header {
  padding-bottom: 14px;
  border-bottom: 1px dashed rgba(0,0,0,0.3);
  line-height: 1.2;
  color: #015db2;
  font-size: 16px;
}
.research-panel>.panel-body {
  padding-top: 20px;
}
.research-panel>.panel-body>p{
  margin: 0;
  line-height: 1.5;
  color: #444;
  font-size: 14px;
}
.research-panel>.panel-footer {
  padding-top: 14px;
}
.research-panel>.panel-footer>.more{
  text-align: right;
}
.research-panel>.panel-footer>.more>a {
  font-size: 14px;
  color: #015db2;
}
.research-panel>.panel-footer>.more>a:after{
  display: inline-block;
  content: '';
  background: url(/images/more2.png);
  -webkit-background-size: contain;
  background-size: contain;
  width: 16px;
  height: 16px;
  float: right;
  margin: 2px 5px 2px -3px;
}
.research-container .research-footer {
  margin-top: 50px;
  padding: 0 10px;
  width: 100%;
  height: 260px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.research-container .research-footer>img {
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* 论文著作 */
.thesis-container {
  margin-top: 80px;
}
.thesis-container>.panel-center {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.thesis-container .thesis-list {
  margin-top: 60px;
}
.thesis-container .thesis-list>ul{
  margin-bottom: 30px;
  padding-left: 20px;
  border-bottom: 1px dotted rgba(0,0,0,0.3);
}
.thesis-container .thesis-list>ul>li{
  padding-bottom: 30px;
  font-size: 16px;
  color: #222;
  line-height: 1.5;
}

.thesis-container .thesis-list>ul>li>.oper {
  margin-left: 10px;
}
.thesis-container .thesis-list>ul>li>.oper>a{
  color: #015db2;
}

/* 科研项目 */
.project-container {
  margin-top: 80px;
}
.project-container>.container-center {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.project-container .level-module {

}
.project-container .level-module>header {
  padding-bottom: 16px;
  color: #015db2;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}
.project-container .level-module .project-list {
  margin-bottom: 30px;
}
.project-container .level-module .project-list>.project-panel{
  float: left;
  width: calc(50% - 20px);
  margin-top: 30px;
  padding-bottom: 26px;
  border-bottom: 1px dotted #ddd;
}
.project-container .level-module .project-list>.project-panel:nth-child(2n) {
  margin-left: 20px;
}
.project-container .level-module .project-list>.project-panel:nth-child(2n+1) {
  margin-right: 20px;
}
.level-module .project-list>.project-panel>.p-title {
  margin-bottom: 16px;
  color: #222222;
  font-size: 16px;
}
.level-module .project-list>.project-panel>p.intro {
  margin-bottom: 12px;
  font-size: 14px;
  color: #666;
}

.level-module .project-list>.project-panel>.time{
  color: #666;
  font-size: 14px;
}
.co-enterprise {
  width: 80%;
  margin: 80px auto;
}
.co-enterprise>header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  color: #222;
}
.co-enterprise>table.enterprise{
  border: 0;

}
.co-enterprise>.enterprise>tbody>tr{

}
.co-enterprise>.enterprise>tbody>tr>td {
  width: 150px;
  height: 86px;
  padding: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.co-enterprise>.enterprise>tbody>tr>td:nth-child(8n){
  border-right: 0;
}
.co-enterprise>.enterprise>tbody>tr:last-child>td {
  border-bottom: 0;
}
.co-enterprise>.enterprise>tbody>tr>td>img {
  max-width: 150px;
  max-height: 86px;
}

/* 新闻资讯 */
.news-container{
  margin-top: 80px;
}
.news-container .container-center{
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.news-container .news-list {
  
}
.news-container .news-list>.news-panel {
  float: left;
  width: calc(33.33% - 10px);
  margin-right: 15px;
  margin-bottom: 60px;
  cursor: pointer;
}
.news-container .news-list>.news-panel:nth-child(3n+3){
  margin-right: 0;
}
.news-container .news-list>.news-panel>.news-img {
  width: 368px;
  height: 232px;
}
.news-container .news-list>.news-panel>h4 {
  width: 368px;
  height: 60px;
  margin-top: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  line-height: 24px;
  font-size: 16px;
  
  font-weight: normal;
  color: #222;
}
.news-container .news-list>.news-panel>.panel-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 368px;
  height: 40px;
}
.news-container .news-list>.news-panel .time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  
  color: #666;
}
.news-container .news-list>.news-panel .time>.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 7px;
  background: url("/images/time-logo.png");
  background-size: contain;
}
.news-container .news-list>.news-panel .news-label {
  color: #fff;
  font-size: 14px;
  
  padding: 1px 5px;
}
.news-label.type1 {
  background: #0070bc;
}
.news-label.type2 {
  background: #2db4d4;
}

/* 招生信息 */
.admission-container{
  margin-top: 80px;
}
.admission-container>.container-center {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}
.admission-container .introduction>.content {
  line-height: 1.5;
  color: #333;
  font-size: 16px;
  
}
.introduction{
  margin-bottom: 50px;
}
.introduction>.content>ul {
  padding-left: 20px;
  margin-top: 28px;
}
.introduction>.content>ul>li{
  padding-bottom: 10px;
}
.introduction>h4 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #015db2;
  font-size: 24px;
}
.admission-info{
}
.admission-info>.info-panel {
  margin-bottom: 20px;
}
.admission-info>.info-panel>h3 {
  padding-bottom: 14px;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  font-size: 18px;
  color: #015db2;
}
.admission-info>.info-panel ul{
  padding-left: 30px;
  margin-top: 28px;
  list-style: decimal;
}
.admission-info>.info-panel ul>li{
  padding-bottom: 10px;
}
.admission-info>.info-panel>.panel-body {
  padding: 18px 0;
  font-size: 16px;
  
  line-height: 1.5;
  color: #444;
}

.appendix{
}
.appendix>.info-panel {
  margin-bottom: 20px;
}
.appendix>.info-panel>h3 {
  padding-bottom: 14px;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  font-size: 18px;
  color: #015db2;
}
.appendix>.info-panel ul{
  padding-left: 30px;
  margin-top: 28px;
  list-style: decimal;
}
.appendix>.info-panel ul>li{
  padding-bottom: 10px;
}
.appendix>.info-panel>.panel-body {
  padding: 18px 0;
  font-size: 16px;
  
  line-height: 1.5;
  color: #444;
}

/* 数据与代码 */
.datacode-container {
  margin-top: 80px;
}
.datacode-container>.container-center {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}
.datacode-container .introduction>.content {
  line-height: 1.5;
  color: #333;
  font-size: 16px;
  
}

.datacode-container .datacode-list {
  margin-top: 36px;
}
.datacode-container .datacode-list>ul {
  margin-bottom: 30px;
  padding-left: 20px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}
.datacode-container .datacode-list>ul>li{
  float: left;
  padding-bottom: 30px;
  font-size: 16px;
  color: #222;
  line-height: 1.5;
}
.datacode-container .datacode-list>ul>li:last-child{
  float: right;
  list-style: none;
}

.datacode-container .datacode-list>ul>li>a {
  color: #015db2;
}
.datacode-container .datacode-list>ul>li .count {
  margin-right: 5px;
  font-size: 12px;
  color: #999;
}
.datacode-container .datacode-list>ul>li .download {
  padding: 1px 10px;
  background: #265BAC;
  color: #fff;
  font-size: 14px;
  
  cursor: pointer;
}
.datacode-container .datacode-info {
  margin-top: 60px;
}
.datacode-container .datacode-info>header {
  font-size: 20px;
  color: #015db2;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

